@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=Libertinus+Keyboard&family=Yellowtail&display=swap');
body{
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Chiron GoRound TC", sans-serif;
    }



nav{
    height: 60px;
    background-color: rgb(122, 18, 18);
}

nav a{
    height: 30px;
    width: 80px;
    background-color: rgb(70, 6, 6);
    display: block;
    text-align: center;
    text-decoration: none;
    color: brown;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 5px;
    border: 1px solid red;
    padding: 0;
    align-items: center;
    height: 60px;
}

.content{
    min-height:calc(100vh - 140px);
    display: flex;
}

main{
    background-color: rgb(223, 220, 213);
    flex: 3;
    padding: 5px;
}

aside{
    background-color: rgb(221, 172, 174);
    flex: 1;
}

footer{
    height: 50px;
    background-color: purple;
}

@media screen and (max-width:550px) {
    .content{
        flex-direction: column;
    }

    main{
        order: 2;
    }

    aside{
        order: 1;
    }
}

